/* THANH TÌM KIẾM */
.search-box{
    width:320px;
}

.filter-bar{
    margin-bottom:18px;
}

.filter-form{
    display:flex;
    gap:12px;
    align-items:center;
}

.status-filter{
    width:220px;
    
    padding-right:42px;

    background-position:right 14px center;
}

/* TABLE */
.voucher-table .table-wrapper{
    border-radius:18px;

    overflow-x:auto;

    border:1px solid #edf1f7;

    box-shadow:
        0 10px 24px rgba(0,0,0,.05);
}

.voucher-table .table{
    min-width:950px;
}

.voucher-table .table thead{
    background:
    linear-gradient(
        135deg,
        #15264B,
        #1f3d75
    );
}

.voucher-table .table thead th{
    color:white;

    white-space:nowrap;
}

.voucher-table .table tbody tr:hover{
    background:#f8fbff;
}